<div>
    <div *ngFor="let image of assetsImages" class="gallery">
        <ng-template [ngIf]="image.type == 'por'">
            <div>
                <img [src]="image.path" class="portrait" style="border-radius:5px;">
            </div>
        </ng-template>
        <ng-template [ngIf]="image.type == 'lan'">
            <div>
                <img [src]="image.path" class="landscape" style="border-radius:5px;">
            </div>
        </ng-template>
        <ng-template [ngIf]="image.type == 'squ'">
            <div>
                <img [src]="image.path" class="square" style="border-radius:5px;">
            </div>
        </ng-template>
        <ng-template [ngIf]="image.name != null">
            <div>
                <div style="text-align: center;"><b>{{image.name}}</b></div>
            </div>
        </ng-template>
        <br>
    </div>


    <div>
        <button mat-mini-fab color="primary" class="button" (click)="topFunction()">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
    </div>
</div>
