.gallery {
    max-width: 350px;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button {
    position: fixed;
    bottom: 2%;
    right: 2%;
}

.portrait {
    height: 500px;
    width: 350px;
}

.landscape {
    height: 200px;
    width: 350px;
}

.square {
    height: 350px;
    width: 350px;
}