<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Biography">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Dzhivan Mirzoyan</mat-card-title>
        <mat-card-subtitle>Artist</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/main.jpg" alt="Photo">
      <mat-card-content>
            <p>
              <br><br>
              Nacido en la capital de Armenia, Erevan, el 2 de Diciembre de 1949, presenta esta exposición en recuerdo -y dedicada- al 100 Aniversario de la Primera República de Armenia, lograda después de independizarse del yugo del Imperio Genocida de Turquía, en Mayo de 1918.
              <br><br>
              Su vida ha transcurrido en San Petersburgo (Rusia), donde se estableció cuando tenía 17 años, y donde estudio en la Academia de Repin de Bellas Artes.
              <br><br>
              Desde el año 2000 vive en España, donde ha realizado varias exposiciones en diversas ciudades.
              <br><br>
              Es el autor del primer monumento en España, dedicado a las víctimas del genocidio armenio, denominado LA CRUZ DE LA VIDA, que se encuentra en Mislata (Valencia).
            </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <mat-tab label="Gallery">
    <div *ngFor="let image of assetsImages" class="example-card">
      <img [src]="image" height="800px" width="400px" >
    </div>
  </mat-tab>
  <mat-tab label="Contact">Contact</mat-tab>
</mat-tab-group>