<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{'title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'subtitle' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/main.jpg" alt="Photo">
    <app-select-language></app-select-language>
    <mat-card-content>
          <div class="translated-paragraph">
            {{'biography' | translate}}
          </div>
    </mat-card-content>
    <img mat-card-image src="assets/img/monument.jpg" alt="Photo">
</mat-card>
