.card {
    width: 300px;
    height:83vh;
    overflow-y:scroll;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
  
.header-image {
    background-image: url('src/assets/img/logo.jpg');
    background-size: cover;
}

.translated-paragraph{
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 28px;
}